@import 'variable';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $white-clr;
    font-family: $font-nunito;
    font-size: 20px;
    line-height: 32px;
    color: $text-clr;
    min-height: 100vh;
}

h1 {
    font-family: $font-sen;
    color: $white-clr ;
    font-size: 3.6rem;
    line-height: 1.11;
    font-weight: 700;
    max-width: 600px;
}

h2 {
    font-family: $font-sen;
    color: $text-clr;
    font-size: 3rem;
    line-height: 1.16;
    font-weight: 700;
    letter-spacing: -0.05em;
}

h3 {
    font-family: $font-sen;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.23;
    letter-spacing: -0.05em;
}

h4{
    font-family: $font-sen;
    font-weight: 700;
    font-size: 40px;
    line-height:48px ;
}

h5{
    font-family:$font-sen ;
    color: $text-clr;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



.btn {

    a {
        padding: 20px 30px;
        background: $primary-clr;
        box-shadow: 0px 4px 10px rgba(244, 67, 54, 0.1), 0px 10px 90px -10px rgba(244, 67, 54, 0.4);
        border-radius: 4px;
        border: none;
        transition: all ease-in-out 250ms;
        font-family: $font-nunito;
        color: $white-clr;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 2;
        text-decoration: none;

        i {
            margin-left: 8px;
        }
    }

    &:hover {
        transform: scale(1.05);
    }

}

.btn1 {

    a {
        background-color: transparent;
        border: 1px solid $white-clr;
        border-radius: 4px;
        padding: 20px 30px;

        font-family: $font-nunito;
        color: $white-clr;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        text-decoration: none;
        transition: all ease-in-out 250ms;

        i {
            margin-left: 8px;
        }
    }

    a:hover {
        background-color: $primary-clr;
        border: none;
    }

}


span.span-title {
    font-family: $font-sen;
    font-style: normal;
    font-weight: 700;
    font-size: 0.78rem;
    line-height: 1.14;
    color: #FF5A6F;
}

.img {
    img {
        max-width: 100%;
    }
}

//header section
.headertop {
    border-bottom: 1px solid $heading-clr;

    a {
        padding: 15px;
        text-decoration: none;
        display: inline-block;

        i {
            margin-right: 9px;
        }

        border-right: 1px solid $heading-clr;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.headertop .headertop-left,
.headertop-right .social:nth-child(1) {
    border-left: 1px solid $heading-clr;
}

.headerbottom {
    padding: 30px 0;

    .container {
        display: flex;
        justify-content: space-between;

        .headerbottom-right {
            align-items: center;
            display: flex;
            justify-content: center;
            gap: 56px;

            ul {
                display: flex;
                justify-content: space-between;
                gap: 56px;

                a {
                    text-decoration: none;
                    transition: all ease-in-out 250ms;
                }

                a:hover {
                    color: $primary-clr;
                }
            }
            .btn{
                a{
                    padding: 10px 20px;
                }
                
            }
        }
    }
}

.hamburger-menu {
    display: none;

    button.hamburger-icon {
        background: transparent;
        border: none;
        fill: $white-clr;
    }
}

.mobile-header .mobile-header-slide {
    width: 60%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
    transition: all 0.25s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    transform: translateX(100%);
}

.mobile-header .mobile-header-slide.open {
    transform: translateX(0%);
}

.mobile-header .close {
    background-image: url(/images/icons8-cross-50.png);
    height: 48px;
    width: 48px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    cursor: pointer;
}

.mobile-header nav {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // margin-left: 15px;
    // margin-top: 100px;
    margin: 100px 0 0 15px;
    gap: 50px;
}

.mobile-header nav .nav-items ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-header nav {
    .contact {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            text-decoration: none;

            i {
                margin-right: 8px;
            }
        }
    }

    .contact-social {
        display: flex;
        gap: 20px;
    }
}

.mobile-header nav .nav-items ul li {
    list-style: none;

    a {
        text-decoration: none;
    }
}


@media only screen and (max-width:995px) {

    .headerbottom .container .headerbottom-right {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .headertop .headertop-left {
        display: none;
    }

    .headertop .headertop-right {
        display: none;
    }
}



//hero section
.hero {
    padding: 120px 0;
    background-image: url(/images/Frame\ 6.png);

    .container {
        h1 {
            margin: 24px 0;
        }

        .hero-contents {
            display: flex;
            gap: 24px;

            .content {
                display: inline-block;
                border: 1px solid rgba(255, 255, 255, 0.7);
                border-radius: 4px;
                padding: 24px 26px;
                text-align: center;

                .text {
                    color: $white-clr;

                    span.time {
                        font-size: 40px;
                        line-height: 48px;
                    }

                    p {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }
        }

        .event {
            padding: 50px 0;
            display: flex;
            gap: 32px;

            a {
                text-decoration: none;
                color: $white-clr;
                transition: all ease-in-out 250ms;

                i {
                    margin-right: 8px;
                }

                &:hover {
                    color: $primary-clr;
                }
            }
        }

        .click {
            display: flex;
            gap: 21px;
        }

        .btn {
            a {
                font-size: 18px;
                line-height: 1.78;
                padding: 20px 30px;
            }
        }
    }
}

@media only screen and (max-width:635px) {
    .hero .container .hero-contents {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:568px) {
    .hero .container .event {
        flex-direction: column;
        display: flex;
    }

    .hero .container .click {
        display: flex;
        flex-direction: column;

        .btn {
            margin-bottom: 30px;
        }
    }
}

// About us 
.about-us {
    .container {
        display: grid;
        padding: 90px 0;
        grid-template-columns: repeat(2, 1fr);

        .about-right {
            h2 {
                margin: 24px 0;
            }

            .points {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin: 24px 0 40px 0;

                .point {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                }
            }
            .btn{
                display: inline-block;
            }
        }
    }
}

@media only screen and (max-width:1150px) {
    .about-us .container {
        padding: 15px;
        grid-template-columns: repeat(1, 1fr);

        .about-left {
            text-align: center;
            margin-top: 20px;
        }

        .about-right {
            margin-top: 20px;
            text-align: center;

            .points {
                align-items: center;
            }
        }
    }
}

// Social stats
.social-stats{
    text-align: center;
    padding: 104px 0;
    background-image: url(/images/Rectangle\ 71.png);
    .container{
        h2{
            margin: 24px 0;
        }
        p {
            max-width: 550px;
            margin: 0 auto;
        }
        .stat-contents{
            margin: 56px 0 72px 0;
            display: flex;
            flex-wrap: wrap;
            gap: 48px;
            justify-content: center;
            .content{
                padding: 24px 32px;
                box-sizing: border-box;
                background-color: $white-clr;
                border-radius: 4px;
                box-shadow: 0px 6px 16px -2px rgba(24, 39, 75, 0.04), 0px 8px 24px -4px rgba(24, 39, 75, 0.04);
                .text{
                    text-align: center;
                }
            }
        }
    }
}

// Speakers
.speakers{
    padding: 104px 0;
    .container{
        text-align: center;
        h2{
            margin: 24px 0;
        }
        p{
            max-width: 550px;
            margin: 0 auto;
        }
        .speaker-contents{
            margin: 56px 0 72px 0;
            display: flex;
            gap: 30px;
            .content{
                text-align: center;
                background: $white-clr;
                box-sizing: border-box;
                border-radius: 4px;
                box-shadow: 0px 4px 24px -2px rgba(0, 36, 88, 0.05), inset 0px -8px 0px -4px #FF5A6F;
                .text-wrapper{
                    h5{
                        margin: 24px 0 8px 0;
                    }
                    p{
                        color: rgba(0, 36, 88, 0.7);
                    }
                    .social{
                        margin: 24px 0;
                        display: flex;
                        justify-content: center;
                        gap:16px ;
                    }
                }
            }
        }
        .btn{
                display: inline-block;
                a{
                    box-shadow: none;
                }
        }
    }
}
