//fonts
$font-nunito: 'Nunito', sans-serif;
$font-sen: 'Sen', sans-serif;

//colors
$primary-clr: #FF5A6F;
$white-clr:#fff;
$heading-clr:rgba(0, 36, 88, 0.1);
$btn-hover-bg: linear-gradient(136.29deg, #FF5A6F 2.04%, #FC442B 180.13%);
$text-clr:#002458;


