//fonts
$font-nunito: 'Nunito', sans-serif;
$font-sen: 'Sen', sans-serif;

//colors
$primary-clr: linear-gradient(136.29deg, #FF5A6F 2.04%, #FC442B 180.13%);
$white-clr:#fff;
$heading-clr:rgba(0, 36, 88, 0.9);



